@model NovoCuidar2024.Models.SubSistema

<h1>Criar</h1>

<h4>Passo 4 - Subsistema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="UtenteId" class="control-label"></label>
                <input asp-for="UtenteId" class="form-control" readonly />
                <span asp-validation-for="UtenteId" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="Nome" class="control-label"></label>
                    <br />
                    <select id="nome" name="nome" onchange="dropdownSubSistemaChanged()">
                        <option value="">Selecione uma opção</option>
                        @foreach (var item in ViewBag.DataSubsistemas)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </select>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control"/>
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Próximo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function dropdownSubSistemaChanged(selectElement) {
        // Get the selected value
        var selectedValue = document.getElementById("nome").value;

        console.log("Selected value: " + selectedValue);
    }
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
