@model NovoCuidar2024.Models.Utente

@{
    ViewData["Title"] = "Create";
}

<h3>Criar Utente</h3>

<h4>Passo 1 - Ficha de Utente</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            @*             <div class="form-group">
            <label asp-for="SubSistemaId" class="control-label"></label>
            <select>
            <option value="0">Nenhum</option>
            @foreach (var item in ViewBag.Data)
            {
            <option value="@item.Id">@item.Nome</option>
            }
            </select>
            </div> *@

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Nome" class="control-label">Nome</label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="DataInscricao" class="control-label">Data de Inscrição</label>
                        <input asp-for="DataInscricao" class="form-control" type="date" />
                        <span asp-validation-for="DataInscricao" class="text-danger"></span>
                    </div>
                </div>
            </div>
    
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="IdInterno" class="control-label">Indentificador Interno</label>
                        <input asp-for="IdInterno" class="form-control" />
                        <span asp-validation-for="IdInterno" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Nif" class="control-label">NIF</label>
                        <input asp-for="Nif" class="form-control" />
                        <span asp-validation-for="Nif" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="ResponsavelTecnicoId" class="control-label">Responsável Técnico</label>
                        <input asp-for="ResponsavelTecnicoId" class="form-control" />
                        <span asp-validation-for="ResponsavelTecnicoId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="FamiliaId" class="control-label">Identificador de Família</label>
                        <input asp-for="FamiliaId" class="form-control" />
                        <span asp-validation-for="FamiliaId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="OrigemContrato" class="control-label">Origem de Contrato</label>
                        <input asp-for="OrigemContrato" class="form-control" />
                        <span asp-validation-for="OrigemContrato" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Genero" class="control-label">Género</label>
                        <label asp-for="Genero" class="control-label">
                            <input type="radio" name="gender" value="m">
                            Masculino
                        </label>
                        <label asp-for="Genero" class="control-label">
                            <input type="radio" name="gender" value="f">
                            Feminino
                        </label>
                        <label asp-for="Genero" class="control-label">
                            <input type="radio" name="gender" value="o">
                            Outro
                        </label>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="DataNascimento" class="control-label">Data de Nascimento</label>
                        <input asp-for="DataNascimento" class="form-control" type="date" />
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="EstadoCivil" class="control-label">Estádo Cívil</label>
                        <input asp-for="EstadoCivil" class="form-control" />
                        <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="DocIdentificacaoTipo" class="control-label">Tipo de Documento de Identificação</label>
                        <input asp-for="DocIdentificacaoTipo" class="form-control" />
                        <span asp-validation-for="DocIdentificacaoTipo" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="DocIdentificacaoNum" class="control-label">Número de Documento de Identificação</label>
                        <input asp-for="DocIdentificacaoNum" class="form-control" />
                        <span asp-validation-for="DocIdentificacaoNum" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="DocIdentificacaoValidade" class="control-label">Validade de Documento de Identificação</label>
                        <input asp-for="DocIdentificacaoValidade" class="form-control" />
                        <span asp-validation-for="DocIdentificacaoValidade" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="SegurancaSocialNum" class="control-label">Número de Segurança Social</label>
                        <input asp-for="SegurancaSocialNum" class="form-control" />
                        <span asp-validation-for="SegurancaSocialNum" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Nacionalidade" class="control-label">Nacionalidade</label>
                        <input asp-for="Nacionalidade" class="form-control" />
                        <span asp-validation-for="Nacionalidade" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ContactoTelemovel" class="control-label">Contacto de Telemóvel</label>
                        <input asp-for="ContactoTelemovel" class="form-control" />
                        <span asp-validation-for="ContactoTelemovel" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="ContactoEmail" class="control-label">Contacto de E-mail</label>
                        <input asp-for="ContactoEmail" class="form-control" />
                        <span asp-validation-for="ContactoEmail" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Habilitacoes" class="control-label">Habilitações</label>
                        <input asp-for="Habilitacoes" class="form-control" />
                        <span asp-validation-for="Habilitacoes" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Vivencia" class="control-label">Vivência</label>
                        <input asp-for="Vivencia" class="form-control" />
                        <span asp-validation-for="Vivencia" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="HabitacaoTipo" class="control-label">Tipo de Habilitação</label>
                        <input asp-for="HabitacaoTipo" class="form-control" />
                        <span asp-validation-for="HabitacaoTipo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="HabitacaoPartilhada" class="control-label">Habitação Partilhada</label>
                        <input asp-for="HabitacaoPartilhada" class="form-control" />
                        <span asp-validation-for="HabitacaoPartilhada" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="NomeEmpresa" class="control-label">Nome de Empresa</label>
                        <input asp-for="NomeEmpresa" class="form-control" />
                        <span asp-validation-for="NomeEmpresa" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row" style="padding-top:10px";>
                    <div class="col-md-6">
                        <label asp-for="Foto">Select File:</label>
                        <input asp-for="Foto" type="file" id="file" name="file" class="form-control-file">
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Foto" id="Foto" class="form-control" />
                        <span asp-validation-for="Foto" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*  <div class="form-group">
                <label asp-for="ResponsavelTecnicoId" class="control-label">Responsável Técnico</label>
                <input asp-for="ResponsavelTecnicoId" class="form-control" />
                <span asp-validation-for="ResponsavelTecnicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamiliaId" class="control-label">Identificador de Família</label>
                <input asp-for="FamiliaId" class="form-control" />
                <span asp-validation-for="FamiliaId" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInscricao"  class="control-label">Data de Inscrição</label>
                <input asp-for="DataInscricao" class="form-control" type="date" />
                <span asp-validation-for="DataInscricao" class="text-danger"></span>
            </div> *@
           @*  <div class="form-group">
                <label asp-for="OrigemContrato" class="control-label">Origem de Contrato</label>
                <input asp-for="OrigemContrato" class="form-control" />
                <span asp-validation-for="OrigemContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*  <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span> *@
                @* <label asp-for="Genero" class="control-label">Género</label>
                <label asp-for="Genero" class="control-label">
                    <input type="radio" name="gender" value="m">
                    Masculino
                </label>
                <label asp-for="Genero" class="control-label">
                    <input type="radio" name="gender" value="f">
                    Feminino
                </label>
                <label asp-for="Genero" class="control-label">
                    <input type="radio" name="gender" value="o">
                    Outro
                </label>
            </div>  *@
            @* <div class="form-group">
                <label asp-for="DataNascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="DataNascimento" class="form-control" type="date" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label">Estádo Cívil</label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="DocIdentificacaoTipo" class="control-label">Tipo de Documento de Identificação</label>
                <input asp-for="DocIdentificacaoTipo" class="form-control" />
                <span asp-validation-for="DocIdentificacaoTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocIdentificacaoNum" class="control-label">Número de Documento de Identificação</label>
                <input asp-for="DocIdentificacaoNum" class="form-control" />
                <span asp-validation-for="DocIdentificacaoNum" class="text-danger"></span>
            </div> *@
           @*  <div class="form-group">
                <label asp-for="DocIdentificacaoValidade" class="control-label">Validade de Documento de Identificação</label>
                <input asp-for="DocIdentificacaoValidade" class="form-control" />
                <span asp-validation-for="DocIdentificacaoValidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegurancaSocialNum" class="control-label">Número de Segurança Social</label>
                <input asp-for="SegurancaSocialNum" class="form-control" />
                <span asp-validation-for="SegurancaSocialNum" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="Nacionalidade" class="control-label">Nacionalidade</label>
                <input asp-for="Nacionalidade" class="form-control" />
                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactoTelemovel" class="control-label">Contacto de Telemóvel</label>
                <input asp-for="ContactoTelemovel" class="form-control" />
                <span asp-validation-for="ContactoTelemovel" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="ContactoEmail" class="control-label">Contacto de E-mail</label>
                <input asp-for="ContactoEmail" class="form-control" />
                <span asp-validation-for="ContactoEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habilitacoes" class="control-label">Habilitações</label>
                <input asp-for="Habilitacoes" class="form-control" />
                <span asp-validation-for="Habilitacoes" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="Vivencia" class="control-label">Vivência</label>
                <input asp-for="Vivencia" class="form-control" />
                <span asp-validation-for="Vivencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HabitacaoTipo" class="control-label">Tipo de Habilitação</label>
                <input asp-for="HabitacaoTipo" class="form-control" />
                <span asp-validation-for="HabitacaoTipo" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="HabitacaoPartilhada" class="control-label">Habitação Partilhada</label>
                <input asp-for="HabitacaoPartilhada" class="form-control" />
                <span asp-validation-for="HabitacaoPartilhada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeEmpresa" class="control-label">Nome de Empresa</label>
                <input asp-for="NomeEmpresa" class="form-control" />
                <span asp-validation-for="NomeEmpresa" class="text-danger"></span>
            </div> *@
           @*  <div class="form-group">
                <label asp-for="Foto">Select File:</label>
                <input asp-for="Foto" type="file" id="file" name="file" class="form-control-file">
            </div>
            <div>
                <input asp-for="Foto" id="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div> *@


            @*             <form method="post" enctype="multipart/form-data" action="/Utentes/Upload">
            <div class="form-group">
            <label for="photo">Select Photo:</label>
            <input type="file" id="photo" name="photo" class="form-control-file">
            </div>
            <button type="submit" value="upload" class="btn btn-primary">Upload</button>
            </form> *@
            @*  <div class="form-group">
            <label asp-for="Foto" class="control-label"></label>
            <input type="file" id="foto" name="foto" class="form-control-file" />
            @* <input asp-for="Foto" class="form-control" />
            <span asp-validation-for="Foto" class="text-danger"></span>
            </div>


            @*             <button class="button button-primary">
            @Html.ActionLink("Adicionar Morada", "Create", "MoradaUtentes", null, new { @class = "page-scroll" })
            </button> *@

            @* <div class="form-group">
            <label asp-for="SubSistema" class="control-label"></label>
            <input asp-for="SubSistema" class="form-control" />
            <span asp-validation-for="SubSistema" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Próximo" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>


<script>
    // Get the file input element
    var fileInput = document.getElementById('file');

    // Add event listener for change event
    fileInput.addEventListener('change', function (event) {
        // Get the selected file name
        var fileName = event.target.files[0].name;
        Foto.Value = fileName;
        //C:\Users\joao.dias\Documents\Diogo\Projects\NovoCuidar2024\NovoCuidar2024\wwwroot\uploads\
        // Do something with the file name
        console.log('Selected file: ' + fileName);
   });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
