@model NovoCuidar2024.Models.Utente

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Utente</h1>

<h4>Passo 1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SubSistemaId" class="control-label"></label>
                <select>
                    <option value="0">Nenhum</option>
                    @foreach (var item in ViewBag.Data)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Nif" class="control-label"></label>
                <input asp-for="Nif" class="form-control" />
                <span asp-validation-for="Nif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CC" class="control-label"></label>
                <input asp-for="CC" class="form-control" />
                <span asp-validation-for="CC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SNS" class="control-label"></label>
                <input asp-for="SNS" class="form-control" />
                <span asp-validation-for="SNS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePrincipal" class="control-label"></label>
                <input asp-for="NomePrincipal" class="form-control" />
                <span asp-validation-for="NomePrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeApelido" class="control-label"></label>
                <input asp-for="NomeApelido" class="form-control" />
                <span asp-validation-for="NomeApelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" type="date" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidade" class="control-label"></label>
                <input asp-for="Nacionalidade" class="form-control" />
                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*  <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span> *@
                <label asp-for="Genero" class="control-label"></label>
                <label asp-for="Genero" class="control-label">
                    <input type="radio" name="gender" value="m">
                    Masculino
                </label>
                <label asp-for="Genero" class="control-label">
                    <input type="radio" name="gender" value="f">
                    Feminino
                </label>
                <label asp-for="Genero" class="control-label">
                    <input type="radio" name="gender" value="o">
                    Outro
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsavelId" class="control-label"></label>
                <input asp-for="ResponsavelId" class="form-control" />
                <span asp-validation-for="ResponsavelId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TecnicoResponsavelId" class="control-label"></label>
                <input asp-for="TecnicoResponsavelId" class="form-control" />
                <span asp-validation-for="TecnicoResponsavelId" class="text-danger"></span>
            </div>

@*             <button class="button button-primary">
                @Html.ActionLink("Adicionar Morada", "Create", "MoradaUtentes", null, new { @class = "page-scroll" })
            </button> *@
            @* <div class="form-group">
            <label asp-for="SubSistema" class="control-label"></label>
            <input asp-for="SubSistema" class="form-control" />
            <span asp-validation-for="SubSistema" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
