@model NovoCuidar2024.Models.Visita

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Visita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UtenteId" class="control-label">Utente</label>
                <input asp-for="UtenteId" class="form-control" readonly />
                <span asp-validation-for="UtenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label">Data e Hora</label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observações" class="control-label">Observações</label>
                <input asp-for="Observações" class="form-control" />
                <span asp-validation-for="Observações" class="text-danger"></span>
            </div>


            <table class="col col-12">
                <thead>
                    <tr>
                        <th class="col col-12">
                        </th>
                    </tr>
                </thead>
            </table>
            <table class="table" id="tableUtentes" col col-12>
                <thead>
                    <tr>
                        <th class="col col-12">
                        </th>
                    </tr>
                </thead>
            </table>
            @* <tbody>
                @{
                    if (Model.fotosVisita != null)
                    {
                        foreach (var item in Model.fotosVisita)
                        {
                            <tr>
                                <td>
                                    <img src="~/uploads/@Html.DisplayFor(modelItem => item.Caminho)" style="max-height=50px; max-width:50px;" />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody> *@


            <a href="@Url.Action("Create", "FotosVisita", new { id = @ViewBag.Id })" class="btn btn-sm btn-primary">Associar Foto</a>

            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input type="submit" value="Gravar" class="btn btn-primary" />
                        </td>
                        <td>
                            <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
