@model NovoCuidar2024.Models.Servico

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Serviços</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                @* <label asp-for="UtenteId" class="control-label"></label>
                <input asp-for="UtenteId" class="form-control" /> *@

                @*  <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" id="txtNome" class="form-control" hidden /> *@
            </div>
            @*             @{
            List<SelectListItem> items = new List<SelectListItem>
            {
            new SelectListItem { Text = "Apoio Domiciliário", Value = "1" },
            new SelectListItem { Text = "Medicina", Value = "2" },
            new SelectListItem { Text = "Enfermagem", Value = "3" },
            new SelectListItem { Text = "Fisioterapia", Value = "4" },
            new SelectListItem { Text = "Terapia da Fala", Value = "5" },
            new SelectListItem { Text = "Nutrição", Value = "6" },
            new SelectListItem { Text = "Outros", Value = "7" }
            };


            }
            <select id="dllNome">
            @foreach (var item in items)
            {
            <option value="@item.Text">@item.Text</option>
            }
            </select> *@

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>

                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <table>
                <td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </td>
                <td>
                    <div>
                        <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
                    </div>
                </td>
                </tr>
            </table>
        </form>
    </div>
</div>



<script>
    document.getElementById("dllNome").addEventListener("change", function () {
        var selectedValue = this.value;
        alert(this.value);
        txtServicoContratado.value = this.value;
        // Do something with the selected value
        console.log("Selected value: " + selectedValue);
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
