@model NovoCuidar2024.Models.LinhaEscala

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Linha de Escala</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label asp-for="CuidadoraId" class="control-label"></label>
                        </td>
                        <td>
                            <select id="cuidadoraId" name="cuidadoraId">
                                <option value="">Selecione uma opção</option>
                                @foreach (var item in ViewBag.DataCuidadora)
                                {
                                    <option value="@item.Id">@item.Nome</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label asp-for="ServicoContratadoId" class="control-label"></label>
                        </td>
                        <td>
                            <select id="servicoContratadoId" name="servicoContratadoId">
                                <option value="">Selecione uma opção</option>
                                @foreach (var item in ViewBag.ServicoContratado)
                                {
                                    <option value="@item.Id">@item.Descricao</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraInicio" class="control-label"></label>
                <input asp-for="DataHoraInicio" class="form-control" />
                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraFim" class="control-label"></label>
                <input asp-for="DataHoraFim" class="form-control" />
                <span asp-validation-for="DataHoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorReceberInicial" class="control-label"></label>
                <input asp-for="ValorReceberInicial" class="form-control" />
                <span asp-validation-for="ValorReceberInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPago" class="control-label"></label>
                <input asp-for="ValorPago" class="form-control" />
                <span asp-validation-for="ValorPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorReceberAtualizado" class="control-label"></label>
                <input asp-for="ValorReceberAtualizado" class="form-control" />
                <span asp-validation-for="ValorReceberAtualizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input type="submit" value="Create" class="btn btn-primary" />

                        </td>
                        <td>
                            <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
